<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <!--Error page-->
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/jsp/500.jsp</location>
    </error-page>

    <!--Session config-->
    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>

    <!--<filter>-->
        <!--<filter-name>DruidWebStatFilter</filter-name>-->
        <!--<filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>-->
        <!--<init-param>-->
            <!--<param-name>exclusions</param-name>-->
            <!--<param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>-->
        <!--</init-param>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>DruidWebStatFilter</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>DruidStatView</servlet-name>-->
        <!--<servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>-->
        <!--<init-param>-->
            <!--&lt;!&ndash; 允许清空统计数据 &ndash;&gt;-->
            <!--<param-name>resetEnable</param-name>-->
            <!--<param-value>true</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--&lt;!&ndash; 用户名 &ndash;&gt;-->
            <!--<param-name>loginUsername</param-name>-->
            <!--<param-value>druid</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--&lt;!&ndash; 密码 &ndash;&gt;-->
            <!--<param-name>loginPassword</param-name>-->
            <!--<param-value>druid</param-value>-->
        <!--</init-param>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>DruidStatView</servlet-name>-->
        <!--<url-pattern>/druid/*</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--&lt;!&ndash;Spring core&ndash;&gt;-->
    <!--<context-param>-->
    <!--<param-name>contextConfigLocation</param-name>-->
    <!--<param-value>-->
    <!--classpath:spring/spring-service.xml,-->
    <!--classpath:spring/spring-dao.xml-->
    <!--</param-value>-->
    <!--</context-param>-->
    <!--<listener>-->
    <!--<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>-->
    <!--</listener>-->

    <!--&lt;!&ndash;Spring mvc&ndash;&gt;-->
    <!--<servlet>-->
    <!--<servlet-name>dispatcher</servlet-name>-->
    <!--<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>-->
    <!--<init-param>-->
    <!--<param-name>contextConfigLocation</param-name>-->
    <!--<param-value>-->
    <!--classpath:spring/spring-web.xml-->
    <!--</param-value>-->
    <!--</init-param>-->
    <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>dispatcher</servlet-name>-->
    <!--<url-pattern>/</url-pattern>-->
    <!--</servlet-mapping>-->
</web-app>
