<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <!--错误页-->
    <!--<error-page>-->
    <!--<error-code>404</error-code>-->
    <!--<location></location>-->
    <!--</error-page>-->

    <!--Session超时配置-->
    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>


    <context-param>
        <param-name>contextClass</param-name>
        <param-value>com.lance.blog.support.MyWebApplicationContext</param-value>
    </context-param>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring.xml</param-value>
    </context-param>




</web-app>
